<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{create.title}"></title>
</head>
<body>
<h1 th:text="#{create.heading}"></h1>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Vietnamese</a>
<p>
    <a href="/blogs" th:text="#{create.link}"></a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-blog}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td th:text="#{create.tbody_title}"></td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td th:text="#{create.tbody_content}"></td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td th:text="#{create.tbody_create_time}"></td>
            <td><input type="date" th:field="*{createdTime}"/></td>
        </tr>
        <td th:text="#{create.tbody_category}"></td>
        <td>
            <select th:field="*{category}">
                <option th:each="c : ${categorys}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </td>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{create.submit_label}"></td>
        </tr>
    </table>
</form>
</body>
</html>