<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Contract</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.css">
</head>
<body>
<div th:insert="~{/home::header-menu}"></div>
<div class="container text-primary">
    <h2 class="text-center text-success mt-3">Create new contract</h2>
    <form action="/contract/create" th:object="${contractDto}" method="post">
        <div class="form-group">
            <label for="customer">Customer</label>
            <select class="custom-select" th:field="*{customer.id}" id="customer">
                <option th:each="c : ${customerList}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="service">Service</label>
            <select class="custom-select" th:field="*{service.id}" id="service">
                <option th:each="s : ${serviceList}" th:value="${s.id}" th:text="${s.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" name="startDate" id="startDate" th:field="*{startDate}"/>
            <div style="color: red" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" name="endDate" id="endDate" th:field="*{endDate}"/>
            <div style="color: red" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
        </div>
        <div class="form-group">
            <label for="deposit">Deposit</label>
            <input type="text" class="form-control" name="deposit" id="deposit" th:field="*{deposit}"/>
            <div style="color: red" th:if="${#fields.hasErrors('deposit')}" th:errors="*{deposit}"></div>
        </div>
        <!--        <div class="form-group">-->
        <!--            <label for="totalMoney">Total Money</label>-->
        <!--            <input type="text" class="form-control" name="totalMoney" id="totalMoney" th:field="*{totalMoney}"/>-->
        <!--        </div>-->
        <div class="form-group">
            <label for="employee">Employee</label>
            <select class="custom-select" th:field="*{employee.id}" id="employee">
                <option th:each="e : ${employeeList}" th:value="${e.id}" th:text="${e.name}"></option>
            </select>
        </div>
        <div class="form-inline">
            <button type="submit" class="btn btn-primary mr-4">Create</button>
            <a class="btn btn-dark" href="/contract" role="button">Back</a>
        </div>
    </form>
</div>

<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/jquery/popper.min.js"></script>
<script src="/bootstrap4/js/bootstrap.js"></script>
</body>
</html>