<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View category</title>
</head>
<body>
<h1>View category: <span th:text="${category.name}"></span></h1>
<p>
    <a href="/categorys">Category list</a>
</p>

<table border="1">
    <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Content</th>
    </tr>
    <th:block th:each="blog, blogStat : ${blogs}">
        <tr>
            <td th:text="${blogStat.index + 1}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.content}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>