<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<p>
    <a href="/user/create">Create new user</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
        <th>No.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr th:each="user, userStat : ${userList}">
        <td th:text="${userStat.index + 1}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>
</body>
</html>