<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create blog</title>
</head>
<body>
<h1>Create blog</h1>
<p>
    <a href="/blogs">blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-blog}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Tilte:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Created Time:</td>
            <td><input type="date" th:field="*{createdTime}"/></td>
        </tr>
        <td>Catelogy:</td>
        <td>
            <select th:field="*{category}">
                <option th:each="c : ${categorys}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </td>
        <tr>
            <td></td>
            <td><input type="submit" value="Create blog"></td>
        </tr>
    </table>
</form>
</body>
</html>